		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						LOGO
					</a>
				</div>

			<form class="navbar-form navbar-right">
				<div class="collapse navbar-collapse" id="navbarEexample3">
					<ul class="nav navbar-nav">
						<li><a href="#">商品一覧</a></li>
						<li><a href="#">商品詳細</a></li>
						<li><a href="#">注文履歴一覧</a></li>
						<li><a href="#">ジャンル管理</a></li>
					</ul>
					<div class="input-group">
						<i>
		  		 <input type="text" class="form-control" placeholder="Search">
					  <span class="input-group-btn">
					    <button class="btn btn-default" type="submit">
					      <i class='glyphicon glyphicon-search'></i>
					    </button>
					  </span>
					</div>
				</div>
			</div>
		</nav>

<h1>注文画面</h1>
<p>本日の注文件数　8件</p>

 <nav>
    <ul>
      <% if admin_signed_in? %>
        <li>管理者</li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "管理者ログイン", new_admin_session_path %></li>
      <% end %>
    </ul>
  </nav>