<h2 class="admin-top-title">管理者画面</h2>
<h3>本日の注文件数 <%= link_to @orders.count, admin_orders_path %> 件</h3>

<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>