// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_item-title {
  margin-bottom: 30px;
}

.cart_item-emptybutton {
  text-align: right;
}

.cart_item-table {
  margin-top: 30px;
}

.cart_item-destroybutton {
  text-align: center;
  line-height: 30px;
}

.cart_item-orderbutton {
  text-align: center;
}