// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genres-title {
  margin-bottom: 30px;
}

.genres-submitbutton {
  margin-left: 10px;
}

.genres-disable {
  margin-left: 10px;
}

.genres-table {
  margin-top: 30px;
}