// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container{
  height: 500px;
}

#theTarget {
	margin-top: 100px;
}

.image1 {
  background-image: url(abe.jpg);
}

.image2 {
  background-image: url(tranp.jpg);
}

.image3 {
  background-image: url(puchin.jpg);
}

.image4 {
  background-image: url(keniyatta.jpg);
}

.image5 {
  background-image: url(kim.jpg);
}