// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_in {
	text-align :center;
	width: 100%;
	margin: 100px auto;
}

.sign_in_form {
	margin: 0 auto;
}


.actions {
	margin: 0 auto;
}
