// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-title {
  margin-bottom: 30px;
}

.orders-subtitle {
  margin-top: 30px;
}

.orders-nextbutton {
  text-align: left;
}

.orders-nextbutton {
  margin-top: 30px;
  text-align: center;
}

.thanks-title {
  margin-top: 250px;
  text-align: center;
}

